@media screen and (min-width: 1000px) {
  .listContainer {
    margin-left: 100px;
    margin-right: 100px;
  }
  .itemImage {
    height: 80px;
    width: 80px;
  }
}
@media screen and (max-width: 350px) {
  nav a {
    padding: 5px 8px;
  }
  nav li {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  form {
    margin-top: 40px;
    height: 130px;
  }

  .InputBox {
    text-align: center;
    margin-top: 4px;
    width: 200px;
    margin-left: 30px;
  }
  .homePageContainer {
    width: 50%;
    margin-left: 10%;
  }
}
