/* import fontstyle : Noto+Sans  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  /* Base Variables :  */
  --blue: #0058ab;
  --yellow: #faeb26;
  --white: #ffffff;
  --black: #000000;
  --paragraph: 14px;
  --title: 25px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}
/* header in homePage */
.item1 {
  grid-area: header;
}
/* the main page in homePage */
.item2 {
  grid-area: main;
}
.grid-container {
  display: grid;

  grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "menu footer footer footer footer footer";
}
.grid-container > div {
  text-align: center;
}

/* Styling HomePage  */
.homePageImage {
  height: 100 px;
}
