/* import fontstyle : Noto+Sans  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  /* Base Variables :  */
  --blue: #0058ab;
  --yellow: #fbd914;
  --white: #ffffff;
  --gray: #e3e3e3;
  --black: #000000;
  --paragraph: 14px;
  --title: 25px;
}

body {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  background-image: url("C:\Users\Sara\OneDrive\Desktop\shopping-list-app\src\Assets\Images\neonbrand-Ak5c5VTch5E-unsplash.jpg");
  height: 100vh;
  width: 100%;
  color: var(--white);
  background-size: cover;
  background-position: center;
}
/* header in homePage */

/* Styling HomePage  */

.homePageImage {
  text-align: center;
  height: 300px;
  width: 300;
  margin-top: 100px;
}

.Header {
  grid-area: header;
}
/* the main page in homePage */
.Main {
  grid-area: main;
}
.grid-container {
  display: grid;
  font-family: "Noto Sans", sans-serif;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main "
    "footer footer footer footer footer footer";
}
.grid-container > div {
  text-align: center;
}
.container {
  background-image: url("C:\Users\Sara\OneDrive\Desktop\shopping-list-app\src\Assets\Images\ikea-shopping-guide-entity-1320x720 (4).png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.homePageContainer,
.AdditemsForm {
  background-color: hsla(201, 100%, 10%, 0.5);
  text-align: center;
  border-radius: 25px;
}

/* Styling Shoppinglistpage */
.homePageContainer {
  margin-left: 50px;
  margin-right: 50px;
}
.homePageParagraph {
  text-align: center;
  padding: 50px 0px;
  margin-top: 200px;
}

.clickMeHomePage {
  padding-bottom: 50px;
}

.AdditemsForm {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Styling Shopping List Page : */
/* Styling InputBox : */
.InputBox {
  background-color: hsl(200, 100%, 95%, 0.99);
  border: 1px solid hsl(201, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: black;
  font-weight: lighter;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 6px;
  margin: 6px 6px 6px 6px;
  width: 200px;
}
.item input[type="checkbox"] {
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
  text-align: left;
  margin-left: 20px;
  float: left;
  margin-top: 45px;
}

.itemImage {
  height: 70px;
  width: 70px;
  margin-right: 45px;
}

.shoppingListTitle {
  font-weight: bold;
}

.listContainer {
  margin-left: 20px;
  margin-right: 20px;
}

.item-text,
.list-group {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid;
  padding: 5px;
}
.list-group-item img {
  margin-left: 40px;
}
