button {
  font-size: 16px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
button:hover {
  background-color: var(--yellow);
}
button:active {
  background-color: var(--yellow);
}
button:focus {
  outline: 0;
}
