button,
.custom-file-input::before {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  color: var(--white);
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}

button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: " Select Item Image";
  display: inline-block;
  cursor: pointer;
  width: 250px;
  font-size: 10px;
  text-align: center;
  margin_botton: 30px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input {
  text-align: center;
}
