@media screen and (min-width: 1000px) {
  form {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    background-color: red;
  }
  .listContainer {
    margin-left: 200px;
    margin-right: 200px;
  }
  .InputBox {
    width: 230px;
  }
  .AdditemsForm {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  form {
    margin-top: 40px;
    height: 130px;
  }
  form button {
    margin-top: 10px;
  }
  .InputBox {
    text-align: center;
    margin-top: 3px;
    width: 230px;
  }
}
